<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              Classes
            </h1>
            <ol class="breadcrumb" >
                <li class="active" >
                  <button type="button" data-toggle="modal" data-target="#addCourseModal" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                    Ajouter une classe
                  </button>
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Création d'une classe</h4>
      </div>	
      <div class="modal-body">
        <div class="form-group">
          <label for="courseName">Name:</label>
          <input type="text" class="form-control" name="courseName" ng-model="courseName">
        </div>
        <div class="form-group">
          <label for="courseDescription">Description:</label>
          <textarea rows="4" class="form-control" name="courseDescription" ng-model="courseDescription" id="courseDescription"></textarea>
        </div>
        <div class="form-group">
          <label for="classDescription">Élèves inscrits:</label>
          <textarea rows="4" disabled class="studentRegistred form-control">{{addedStudentsTxt}}</textarea>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-graduation-cap"></i> Ajouter des eleves</h3>
            </div>
            <div class="panel-body">
                <div>
                  <table st-table="displayedStudents" class="table table-striped" st-safe-src="rowStudents" >
                    <thead>
                      <tr>
                        <th st-sort="lastName">Nom</th>
                        <th st-sort="firstName">Prenom</th>
                        <th st-sort="email">Email</th>
                        <!-- <th>Détail</th> -->
                      </tr>
                      <tr>
                        <th colspan="5"><input st-search="" class="form-control" placeholder="Rechercher un élève ..." type="text"/></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="selectable-row" st-select-row="student" ng-click="addStudent(student)" st-select-mode="multiple" ng-repeat="student in displayedStudents">
                        <td>{{student.firstName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>{{student.email}}</td>
                        <!-- <td>{{}}</td> -->
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="5" class="text-center">
                          <div st-pagination="" st-items-by-page="5" st-displayed-pages="3"></div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" ng-click="addCourse(course)" class="btn btn-success">Créer la classe</button>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  <table st-table="displayedCourses" class="table table-striped" st-safe-src="rowCourses">
    <thead>
      <tr>
        <th st-sort="lastName">Classe</th>
        <th st-sort="createdAt">Description</th>
        <th st-sort="createdAt">Date création</th>
        <th st-sort="createdAt">Date modification</th>
        <th st-sort="studentNb">Nb d'élèves</th>
        <th st-sort="examNb">Nb d'examens</th>
        <th width="25px"></th>
        <th width="25px"></th>
      </tr>
      <tr>
        <th colspan="7"><input st-search="" class="form-control" placeholder="Rechercher une classe ..." type="text"/></th>
      </tr>
    </thead>
    <tbody>
      <tr class="selectable-row" ng-if="course.enabled == true" ng-repeat="course in displayedCourses">
        <td>{{course.label}}</td>
        <td>{{course.description}}</td>
        <td>{{course.createdAt}}</td>
        <td>{{course.updatedAt}}</td>
        <td></td>
        <td></td>
        <td>
          <button type="button" ng-click="removeCourse(course)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle">
            </i>
          </button>
        </td>
        <td>
          <button type="button" ng-click="editCourse(course)" class="btn btn-sm btn-info">
            <i class="glyphicon glyphicon glyphicon-pencil">
            </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
