<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tableau de bord
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                   Bienvenue {{userName}} !
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>Like NEO-Learning?</strong>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-graduation-cap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{course.number}}</div>
                            <!-- <div>Nouvelle classe</div> -->
                        </div>
                    </div>
                </div>
                <a ui-sref="courses">
                    <div class="panel-footer">
                        <span class="pull-left">Gérer les classes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{exam.number}}</div>
                            <!-- <div>Nouvel examen</div> -->
                        </div>
                    </div>
                </div>
                <a href="#/dashboard">
                    <div class="panel-footer">
                        <span class="pull-left">Gérer les examens</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{doc.number}}</div>
                            <!-- <div>Nouveau document!</div> -->
                        </div>
                    </div>
                </div>
                <a ui-sref="myDocuments">
                    <div class="panel-footer">
                        <span class="pull-left">Gérer vos documents</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Chat</div>
                            <!-- <div>Support Tickets!</div> -->
                        </div>
                    </div>
                </div>
                <a ui-sref="chat">
                    <div class="panel-footer">
                        <span class="pull-left">Accéder au chat</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i></i> Les classes</h3>
                </div>
                  <div>
                    <table st-table="displayedCourses" class="table table-striped" st-safe-src="rowCourses">
                      <thead>
                        <tr>
                          <th st-sort="lastName">Classe</th>
                          <th st-sort="createdAt">Description</th>
                          <th st-sort="createdAt">Date création</th>
                          <th st-sort="createdAt">Date modification</th>
                          <th st-sort="studentNb">Nb d'élèves</th>
                          <th st-sort="examNb">Nb d'examens</th>
                        </tr>
                        <tr>
                          <th colspan="9"><input st-search="" class="form-control" placeholder="Rechercher une classe ..." type="text"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="selectable-row" ng-click="goToCourseDetail(course)" ng-if="course.enabled == true" ng-repeat="course in displayedCourses">
                          <td>{{course.label}}</td>
                          <td>{{course.description}}</td>
                          <td>{{course.createdAt}}</td>
                          <td>{{course.updatedAt}}</td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-body">
                    <div class="text-right">
                        <a ui-sref="courses"> Voir toutes les classes <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-graduation-cap"></i> Eleves</h3>
              </div>
                <div>
                  <table st-table="displayedStudents" class="table table-striped" st-safe-src="rowStudents" >
                    <thead>
                      <tr>
                        <th st-sort="lastName">Nom</th>
                        <th st-sort="firstName">Prenom</th>
                        <th st-sort="email">Email</th>
                        <!-- <th>Détail</th> -->
                      </tr>
                      <tr>
                        <th colspan="5"><input st-search="" class="form-control" placeholder="Rechercher un élève ..." type="text"/></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="selectable-row" ng-click="goToStudentDetail(student)" ng-repeat="student in displayedStudents">
                        <td>{{student.firstName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>{{student.email}}</td>
                        <!-- <td>{{}}</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel-body">
                  <div class="text-right">
                      <a ui-sref="students"> Voir tous les élèves <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Examens </h3>
              </div>
                  <div>
                    <table st-table="students" class="table table-striped">
                      <!-- <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Prenom</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="student in students">
                          <td>{{student.firstName}}</td>
                          <td>{{student.lastName}}</td>
                          <td>{{student.email}}</td>
                        </tr>
                      </tbody> -->
                    </table>
                  </div>
                  <div class="panel-body">
                    <div class="text-right">
                        <a href="#/dashboard"> Voir toutes les Examens <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
          </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
